@page "/counter"
@inject IServizioDati dati

<h1>Counter: @DataCorrente</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {

    public string DataCorrente { get; set; }

    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
        DataCorrente = dati.EstraiDataEOra();
    }
}
