@page "/"
@inject ILog log

<h1>Hello, world!</h1>

Welcome to your new app.

<AlertList Items="@Logs">
    <ItemTemplate>
        <h3>@context.Id</h3>
        <p>@context.Severity</p>
    </ItemTemplate>
</AlertList>

@code {

    public List<Log> Logs { get; set; } = new List<Log>();
    protected override void OnInitialized()
    {
        Logs = log.Logs().ToList();
    }
}

