@page "/eventifuturi"
@inject IDatiEventi dati

<div class="jumbotron">
    <h3>Eventi Futuri</h3>
</div>

<ListaEventi Eventi="Eventi" Titolo="Elenco prossimi eventi"
             OnElimina="EliminaDaEventiFuturi" />

@code {
    public List<ElementoListaEventi> Eventi { get; set; }

    protected override void OnInitialized()
    {
        Eventi = dati.EstraiEventi();
    }

    public void EliminaDaEventiFuturi(ElementoListaEventi evento)
    {
        Eventi.Remove(evento);
    }
}
