<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Demo1BlazorWASM</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="eventifuturi" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Eventi
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="utenti" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Utenti
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="esperimenti" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Esperimenti
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="bestpractices" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Best Practices
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="provanuovouser" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Prova Nuovo User
            </NavLink>
        </li>

        

    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
